<sly data-sly-test.leftimage="${properties.imagepos == 'left-image'}">
<div class="matrix-text-image">
    <div class="matrix-image">
    	<img src="${properties.fileReference}" style="height:${properties.height @ context='styleToken'}px;width:${properties.width @ context='styleToken'}px" alt="image-name">
    </div>
    <div class="matrix-text">
    	${properties.text @context='html'}
    </div>
</div>
</sly>
<sly data-sly-test="${!leftimage}">
<div class="matrix-text-image">
    <div class="matrix-text">
    	${properties.text @context='html'}
    </div>
	<div class="matrix-image">
    	<img src="${properties.fileReference}" style="height:${properties.height @ context='styleToken'}px;width:${properties.width @ context='styleToken'}px" alt="image-name">
    </div>
</div>
</sly>